In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
run1OC = pd.read_csv("NewYork_36071_Module6NN1stRun.csv")
run2OC = pd.read_csv("NewYork36071Module1NN2ndRun.csv")

/Users/ruideoliveira/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (52,53,54,55,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
run1OC.head()

,Residence State,County Code,Tract Code,Block Code,HH ID,Person ID Number,Activity Pattern,Node 1 Type,Node 1 Predecessor,Node 1 Successor,...,Node 6 Departure Time,Node 7 Type,Node 7 Predecessor,Node 7 Successor,Node 7 Name,Node 7 County,Node 7 Lat,Node 7 Lon,Node 7 Arrival Time,Node 7 Departure Time
0,36,71,13900,2021,4668505,36011956118,2,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
1,36,71,100,1017,4576906,36011691461,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
2,36,71,100,1018,4576932,36011691571,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
3,36,71,100,1019,4576950,36011691625,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime
4,36,71,100,1019,4576952,36011691633,1,H,N,S,...,dTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oTime,dTime

In [4]:
run2OC.head()

,Unnamed: 0,Residence State,County Code,Tract Code,Block Code,HH ID,HH TYPE,Latitude,Longitude,Person ID Number,Age,Sex,Traveler Type,Income Bracket,Income Amount
0,11690759,36,71,100,1000,4576658,1,41.517333,-74.012504,36011690760,66,1,6,6.0,69012.044614
1,11690760,36,71,100,1000,4576658,1,41.517333,-74.012504,36011690761,17,1,1,0.0,0.000000
2,11690761,36,71,100,1000,4576659,0,41.517333,-74.012504,36011690762,53,1,5,1.0,2409.692110
3,11690762,36,71,100,1000,4576659,0,41.517333,-74.012504,36011690763,59,0,5,1.0,6393.542108
4,11690763,36,71,100,1001,4576660,1,41.517446,-74.014654,36011690764,76,0,6,5.0,45906.476359

In [5]:
households2 =  len(run2OC['HH ID'].unique())
print('Number of unique households: ' + str(households2))

numPeople2 = len(run2OC['Person ID Number'].unique())
print('Number of unique people: ' + str(numPeople2))

Number of unique households: 126132
Number of unique people: 372813

In [6]:
allyHHID = run1OC[run1OC['HH ID']==4643185]
print(allyHHID)

        Residence State  County Code  Tract Code  Block Code    HH ID  \
56600                36           71       12200        1017  4643185
56601                36           71       12200        1017  4643185
56602                36           71       12200        1017  4643185
56603                36           71       12200        1017  4643185
314699               36           71       12200        1017  4643185

        Person ID Number  Activity Pattern Node 1 Type Node 1 Predecessor  \
56600        36011882014                 1           H                  N
56601        36011882015                 1           H                  N
56602        36011882016                 1           H                  N
56603        36011882017                 1           H                  N
314699       36011882013                 6           H                  N

       Node 1 Successor          ...          Node 6 Departure Time  \
56600                 S          ...                          dTime
56601                 S          ...                          dTime
56602                 S          ...                          dTime
56603                 S          ...                            NaN
314699                O          ...                          dTime

        Node 7 Type  Node 7 Predecessor  Node 7 Successor  Node 7 Name  \
56600           NaN                 NaN               NaN          NaN
56601           NaN                 NaN               NaN          NaN
56602           NaN                 NaN               NaN          NaN
56603           NaN                 NaN               NaN          NaN
314699          NaN                 NaN               NaN          NaN

       Node 7 County Node 7 Lat Node 7 Lon Node 7 Arrival Time  \
56600            NaN        NaN        NaN               oTime
56601            NaN        NaN        NaN               oTime
56602            NaN        NaN        NaN               oTime
56603            NaN        NaN        NaN               oTime
314699           NaN        NaN        NaN               oTime

       Node 7 Departure Time
56600                  dTime
56601                  dTime
56602                  dTime
56603                  dTime
314699                 dTime

[5 rows x 70 columns]

In [7]:
allyHHID.shape

(5, 70)

In [18]:
#Pixelization Data
n = 138.348
def Xpixel(latitude,longitude):
    if np.isnan(latitude) or np.isnan(longitude):
        return 0
    else:
        xPixel = math.floor(n*(longitude + 97.5)*math.cos(latitude)) 
        return xPixel
  
def Ypixel(latitude,longitude):
    if np.isnan(latitude) or np.isnan(longitude):
        return 0
    else:
        yPixel = math.floor(n*(latitude - 37.0))
        return yPixel

In [19]:
allyHHID = np.asarray(allyHHID)

In [10]:
allyHHID

array([[36, 71, 12200, 1017, 4643185, 36011882014, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '29131.194315410623', 'S', 'H', 'O', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '29187.699926408346',
        '58203.18872815139', 'O', 'S', 'H', nan, 36071.0,
        41.400628999999995, -74.330281, '58323.43962778577',
        '64359.37662462291', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '63617.33475575905', nan, nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882015, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '28638.774851923685', 'S', 'H', 'O', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '28695.280462921408',
        '59242.29967924912', 'O', 'S', 'H', 'SLEEPY HILLS ORCHARD',
        36071.0, 41.365066999999996, -74.50639100000001,
        '60452.422412039974', '66370.46233951607', 'H', 'O', 'N', 'Home',
        36071.0, 41.4122136, -74.3321119, '67359.93905265267', nan, nan,
        nan, nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan,
        nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882016, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '27956.521048184135', 'S', 'H', 'H', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '28013.026659181858',
        '58618.05205228129', 'H', 'S', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '58674.55766327901', nan, nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882017, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '28404.733257310392', 'S', 'H', 'O', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '28461.238868308115',
        '55912.012037521774', 'O', 'S', 'H', 'CRIST BROTHERS ORCHARD',
        36071.0, 41.551198, -74.1637, '57421.99320100279',
        '62946.63593989674', 'H', 'O', 'O', 'Home', 36071.0, 41.4122136,
        -74.3321119, '64428.03197282557', '68657.12911266286', 'O', 'H',
        'H', nan, 36071.0, 41.400628999999995, -74.330281,
        '68834.21872558996', '74447.90663214192', 'H', 'O', 'N', 'Home',
        36071.0, 41.4122136, -74.3321119, '74701.52727895974', nan, nan,
        nan, nan, nan, nan, nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882013, 6, 'H', 'N', 'O',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '38376.021570289566', 'O', 'H', 'O', "WESSEL'S FARMS INC",
        36071.0, 41.478803000000006, -74.518322, '39659.689610308604',
        '44181.59812765489', 'O', 'O', 'H', "WESSEL'S FARMS INC",
        36071.0, 41.478803000000006, -74.518322, '44181.59812765489',
        '49826.24472540205', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '51059.29866895496', nan, nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime']], dtype=object)

In [11]:
run1OC_array = np.asarray(run1OC)

In [12]:
run1OC_array

array([[36, 71, 13900, ..., nan, 'oTime', 'dTime'],
       [36, 71, 100, ..., nan, 'oTime', 'dTime'],
       [36, 71, 100, ..., nan, 'oTime', 'dTime'],
       ...,
       [36, 71, 15200, ..., nan, 'oTime', 'dTime'],
       [36, 71, 15200, ..., nan, 'oTime', 'dTime'],
       [36, 71, 15200, ..., nan, 'oTime', 'dTime']], dtype=object)

In [13]:
allyHHID

array([[36, 71, 12200, 1017, 4643185, 36011882014, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '29131.194315410623', 'S', 'H', 'O', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '29187.699926408346',
        '58203.18872815139', 'O', 'S', 'H', nan, 36071.0,
        41.400628999999995, -74.330281, '58323.43962778577',
        '64359.37662462291', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '63617.33475575905', nan, nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882015, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '28638.774851923685', 'S', 'H', 'O', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '28695.280462921408',
        '59242.29967924912', 'O', 'S', 'H', 'SLEEPY HILLS ORCHARD',
        36071.0, 41.365066999999996, -74.50639100000001,
        '60452.422412039974', '66370.46233951607', 'H', 'O', 'N', 'Home',
        36071.0, 41.4122136, -74.3321119, '67359.93905265267', nan, nan,
        nan, nan, nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan,
        nan, nan, nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882016, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '27956.521048184135', 'S', 'H', 'H', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '28013.026659181858',
        '58618.05205228129', 'H', 'S', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '58674.55766327901', nan, nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882017, 1, 'H', 'N', 'S',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '28404.733257310392', 'S', 'H', 'O', 'SCOTCHTOWN AVENUE SCHOOL',
        36071.0, 41.414171, -74.323418, '28461.238868308115',
        '55912.012037521774', 'O', 'S', 'H', 'CRIST BROTHERS ORCHARD',
        36071.0, 41.551198, -74.1637, '57421.99320100279',
        '62946.63593989674', 'H', 'O', 'O', 'Home', 36071.0, 41.4122136,
        -74.3321119, '64428.03197282557', '68657.12911266286', 'O', 'H',
        'H', nan, 36071.0, 41.400628999999995, -74.330281,
        '68834.21872558996', '74447.90663214192', 'H', 'O', 'N', 'Home',
        36071.0, 41.4122136, -74.3321119, '74701.52727895974', nan, nan,
        nan, nan, nan, nan, nan, nan, 'oTime', 'dTime'],
       [36, 71, 12200, 1017, 4643185, 36011882013, 6, 'H', 'N', 'O',
        'Home', 36071, 41.4122136, -74.3321119, 0.0,
        '38376.021570289566', 'O', 'H', 'O', "WESSEL'S FARMS INC",
        36071.0, 41.478803000000006, -74.518322, '39659.689610308604',
        '44181.59812765489', 'O', 'O', 'H', "WESSEL'S FARMS INC",
        36071.0, 41.478803000000006, -74.518322, '44181.59812765489',
        '49826.24472540205', 'H', 'O', 'N', 'Home', 36071.0, 41.4122136,
        -74.3321119, '51059.29866895496', nan, nan, nan, nan, nan, nan,
        nan, nan, 'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan,
        'oTime', 'dTime', nan, nan, nan, nan, nan, nan, nan, 'oTime',
        'dTime']], dtype=object)

In [29]:
def pixelization(n,a):
    xpixels =  np.zeros((n,7))
    ypixels =  np.zeros((n,7))
    oarrivals = np.zeros((n,7))
    odepartures = np.zeros((n,7))
    name = [[] for _ in range(n)]
    for i in range(n):
        for j in range(7):
            xpixels[i][j]= Xpixel(a[i][12+9*j],a[i][13+9*j])
            ypixels[i][j]= Ypixel(a[i][12+9*j],a[i][13+9*j])
            if a[i][14+9*j] != 'oTime':
                oarrivals[i][j]= (a[i][14+9*j])
            else:
                oarrivals[i][j]= 0
            if a[i][15+9*j] != 'dTime':
                odepartures[i][j]= (a[i][15+9*j])
            else:
                odepartures[i][j]= 0
            name[i] = np.append(name[i], a[i][10+9*j])
    return xpixels, ypixels, name, oarrivals, odepartures

In [30]:
pixelization(5, allyHHID)

(array([[-2696., -2694., -2716., -2696.,     0.,     0.,     0.],
        [-2696., -2694., -2754., -2696.,     0.,     0.,     0.],
        [-2696., -2694., -2696.,     0.,     0.,     0.,     0.],
        [-2696., -2694., -2448., -2696., -2716., -2696.,     0.],
        [-2696., -2554., -2554., -2696.,     0.,     0.,     0.]]),
 array([[610., 610., 608., 610.,   0.,   0.,   0.],
        [610., 610., 603., 610.,   0.,   0.,   0.],
        [610., 610., 610.,   0.,   0.,   0.,   0.],
        [610., 610., 629., 610., 608., 610.,   0.],
        [610., 619., 619., 610.,   0.,   0.,   0.]]),
 [array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'nan', 'Home', 'nan', 'nan',
         'nan'], dtype='<U32'),
  array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'SLEEPY HILLS ORCHARD', 'Home',
         'nan', 'nan', 'nan'], dtype='<U32'),
  array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'Home', 'nan', 'nan', 'nan',
         'nan'], dtype='<U32'),
  array(['Home', 'SCOTCHTOWN AVENUE SCHOOL', 'CRIST BROTHERS ORCHARD',
         'Home', 'nan', 'Home', 'nan'], dtype='<U32'),
  array(['Home', "WESSEL'S FARMS INC", "WESSEL'S FARMS INC", 'Home', 'nan',
         'nan', 'nan'], dtype='<U32')],
 array([[    0.        , 29187.69992641, 58323.43962779, 63617.33475576,
             0.        ,     0.        ,     0.        ],
        [    0.        , 28695.28046292, 60452.42241204, 67359.93905265,
             0.        ,     0.        ,     0.        ],
        [    0.        , 28013.02665918, 58674.55766328,     0.        ,
             0.        ,     0.        ,     0.        ],
        [    0.        , 28461.23886831, 57421.993201  , 64428.03197283,
         68834.21872559, 74701.52727896,     0.        ],
        [    0.        , 39659.68961031, 44181.59812765, 51059.29866895,
             0.        ,     0.        ,     0.        ]]),
 array([[29131.19431541, 58203.18872815, 64359.37662462,            nan,
             0.        ,     0.        ,     0.        ],
        [28638.77485192, 59242.29967925, 66370.46233952,            nan,
             0.        ,     0.        ,     0.        ],
        [27956.52104818, 58618.05205228,            nan,     0.        ,
             0.        ,     0.        ,     0.        ],
        [28404.73325731, 55912.01203752, 62946.6359399 , 68657.12911266,
         74447.90663214,            nan,     0.        ],
        [38376.02157029, 44181.59812765, 49826.2447254 ,            nan,
             0.        ,     0.        ,     0.        ]]))

In [38]:
def cartDist(n, xpixels, ypixels):
    distances = np.zeros((n,7))
    for i in range(n):
        for j in range(7):
            if xpixels[i][j+1] == 0:
                break
            else:
                distances[i][j]=math.sqrt(((xpixels[i][j+1]-xpixels[i][j])**2) + ((ypixels[i][j+1]-ypixels[i][j])**2))
            
    return distances

In [36]:
xpixels, ypixels, names, oarrivals, odepartures = pixelization(5, allyHHID)

In [39]:
cartDist(5, xpixels, ypixels)

array([[  2.        ,  22.09072203,  20.09975124,   0.        ,
          0.        ,   0.        ,   0.        ],
       [  2.        ,  60.40695324,  58.42088668,   0.        ,
          0.        ,   0.        ,   0.        ],
       [  2.        ,   2.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [  2.        , 246.73264883, 248.72675771,  20.09975124,
         20.09975124,   0.        ,   0.        ],
       [142.28492541,   0.        , 142.28492541,   0.        ,
          0.        ,   0.        ,   0.        ]])